#run{
    background: url(../img/bg-home.png) no-repeat center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.main{
    background: url(../img/bg-transparent2.png) repeat;
    margin: 0 auto;
    overflow: hidden;
    color: whitesmoke;
    line-height: 2;
}
.main p {
    font-size: 16px;
    padding: 0 20px 30px 20px;
}
.hideme
{
    opacity:1;
}

.main h2{
    color: #FC416F;
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 20px 0 10px 0;
}