.contact p{
    color: #b7bade;
}
input, textarea{
    background-color: #f000;
}

::placeholder {
    color: whitesmoke;
    opacity: 1;
    text-align: center;
}
input[type="text"], input[type="email"], textarea {
    color: white;
}
/*.submit{
    width: 30%;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    background: #272727;
}
.submit:hover{
    width: 30%;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    background: #202020;
}
.submit:active{
    background: red;
}*/




.button {
    margin: 0px 0 40px 0;
}
.submit {
    font-family: OpenSans;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #575757;
    position: relative;
    top: 0px;
    transition: all ease 0.2s;
    width: 30%;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: #272727;
    cursor: pointer;
    outline: none;
}
.submit:hover {
    font-family: OpenSans;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #575757;
    position: relative;
    top: 0px;
    transition: all ease 0.2s;
    width: 30%;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    background-color: #202020;
    cursor: pointer;
    outline: none;
}
.submit:active {
    font-family: OpenSans;
    border-radius: 5px;
    box-shadow: 0px 2px #000000;
    position: relative;
    transition: all ease 0.2s;
    width: 30%;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    background: #202020;
    top: 3px;
}